VITE_API_URL=http://localhost:8080
VITE_APP_NAME=we-balance-game
VITE_INTERSTITIAL_AD_GROUP_ID=ait.v2.live.aed9b062f93f4df7
VITE_REWARDED_AD_GROUP_ID=ait.v2.live.aed9b062f93f4df7
VITE_TOP_BANNER_AD_GROUP_ID=ait.v2.live.d1e377470a12438b
